$header-height: 40px;

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #efeff4;
  font-size: 12px;
}

.header {
  display: flex;
  height: $header-height;
  background: #fff;
  font-size: 16px;
  line-height: $header-height;

  .title {
    flex: 1;
    text-align: center;
    color: #888;
  }

  .confirm {
    padding: 0 15px;
    color: #ff783d;
  }

  .cancel {
    padding: 0 15px;
    color: #ff783d;
  }
}
